<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Tuesday, May 6</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop Survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html" target="_blank">Introducing the Shell</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html" target="_blank">Navigating Files and Directories</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/03-create/index.html" target="_blank">Working with Files and Directories</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html" target="_blank">Pipes and Filters</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html" target="_blank">Loops</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/06-script/index.html" target="_blank">Shell Scripts</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/07-find/index.html" target="_blank">Finding Things</a></td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2 - Tuesday, May 13</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/01-basics/index.html" target="_blank">Introducing Git</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/02-setup/index.html" target="_blank">Setting Up Git</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/03-create/index.html" target="_blank">Creating a Repository</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/04-changes/index.html" target="_blank">Tracking Changes</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/05-history/index.html" target="_blank">Exploring History</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/06-ignore/index.html" target="_blank">Ignoring Things</a> and <a href="https://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank">Remotes on GitHub</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/08-collab/index.html" target="_blank">Collaborating</a></td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3 - Tuesday, May 20</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/01-numpy/index.html" target="_blank">Analyzing Data with NumPy</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/02-loop/index.html" target="_blank">Repeating Actions with Loops</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/03-lists/index.html" target="_blank">Storing Multiple Values in Lists</a></td> </tr>
      <tr> <td>11:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/04-files/index.html" target="_blank">Analyzing Multiple Data Files</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/05-cond/index.html" target="_blank">Making Choices (Conditionals)</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/06-func/index.html" target="_blank">Creating Functions</a></td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 4 - Tuesday, May 27</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/07-errors/index.html" target="_blank">Handling Errors</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/08-defensive/index.html" target="_blank">Defensive Programming</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/09-debugging/index.html" target="_blank">Debugging</a></td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/python-novice-inflammation/10-cmdline/index.html" target="_blank">Command-Line Programs</a></td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Wrap-up + Q&A Session</td> </tr>
      <tr> <td>13:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
