<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Tuesday, May 6 - The Unix Shell</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop Survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introducing the Shell & Navigating Files and Directories</td> </tr>

      <tr> <td>09:30</td>  <td>Working with Files and Directories & Pipes and Filters</td> </tr>
	<tr> <td>10:30</td>  <td>Coffee break</td> </tr>
	<tr> <td>11:00</td>  <td>Loops, Shell Scripts, Finding Things</td> </tr>
	<tr> <td>12:00</td>  <td>Introducing Git & Setting Up Git</td> </tr>
	<tr> <td>13:30</td>  <td>Creating a Repository</td> </tr>
	</table>
	</div>

<div class="col-md-6">

    <h3>Day 2 - Tuesday, May 13 - Version Control with Git and GitHub</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Tracking Changes</td> </tr>
	<tr> <td>09:30</td>  <td>Exploring History, Ignoring Things, and Remotes on GitHub</td> </tr>
	<tr> <td>10:00</td>  <td>Collaborating and configs, open science, licensing, and citations</td> </tr>

      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Introduction to Programming</td> </tr>
      <tr> <td>11:30</td>  <td>Chapter 1 - Modules, commands and pip</td> </tr>
      <tr> <td>12:00</td>  <td>Chapter 2 - Variables and Datatypes</td> </tr>
      <tr> <td>13:00</td>  <td>Chapter 3 - Strings</td> </tr>
      <tr> <td>13:30</td>  <td>Chapter 4 - Lists and Tuples</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3 - Tuesday, May 20 - Python for Scientific Computing</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Chapter 4 - Lists and Tuples</td> </tr>
      <tr> <td>10:00</td>  <td>Chapter 5 - Dictionary and Sets</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Continue Chapter 5 - Dictionary and Sets</td> </tr>
      <tr> <td>12:00</td>  <td>Chapter 6 - Conditional Expressions</td> </tr>
      <tr> <td>13:00</td>  <td>Chapter 7 - Loops in Python</td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 4 - Tuesday, May 27 - Python for Scientific Computing</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Chapter 8 - Functions</td> </tr>
      <tr> <td>10:00</td>  <td>Chapter 9 - File I/O</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Object Oriented Programming</td> </tr>
      <tr> <td>12:00</td>  <td>Plotting basics & Small case study (Accessing APIs)</td> </tr>
      <tr> <td>13:00</td>  <td>Final Q&A and Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>

