<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Tuesday, May 6 - The Unix Shell</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop Survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html" target="_blank">Introducing the Shell</a> & <a href="https://swcarpentry.github.io/shell-novice/02-filedir/index.html" target="_blank">Navigating Files and Directories</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/shell-novice/03-create/index.html" target="_blank">Working with Files and Directories</a> & <a href="https://swcarpentry.github.io/shell-novice/04-pipefilter/index.html" target="_blank">Pipes and Filters</a></td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td><a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html" target="_blank">Loops</a>, <a href="https://swcarpentry.github.io/shell-novice/06-script/index.html" target="_blank">Shell Scripts</a>, <a href="https://swcarpentry.github.io/shell-novice/07-find/index.html" target="_blank">Finding Things</a></td> </tr>
      <tr> <td>12:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/01-basics/index.html" target="_blank">Introducing Git</a> & <a href="https://swcarpentry.github.io/git-novice/02-setup/index.html" target="_blank">Setting Up Git</a></td> </tr>
      <tr> <td>13:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/03-create/index.html" target="_blank">Creating a Repository</a></td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 2 - Tuesday, May 13 - Version Control with Git and GitHub</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/04-changes/index.html" target="_blank">Tracking Changes</a></td> </tr>
      <tr> <td>09:30</td>  <td><a href="https://swcarpentry.github.io/git-novice/05-history/index.html" target="_blank">Exploring History</a>, <a href="https://swcarpentry.github.io/git-novice/06-ignore/index.html" target="_blank">Ignoring Things</a>, and <a href="https://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank">Remotes on GitHub</a></td> </tr>
      <tr> <td>10:00</td>  <td><a href="https://swcarpentry.github.io/git-novice/08-collab/index.html" target="_blank">Collaborating</a> and configs, open science, licensing, and citations</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Introduction to Programming</td> </tr>
      <tr> <td>11:30</td>  <td>Chapter 1 - Modules, commands and pip</td> </tr>
      <tr> <td>12:00</td>  <td>Chapter 2 - Variables and Datatypes</td> </tr>
      <tr> <td>13:00</td>  <td>Chapter 3 - Strings</td> </tr>
      <tr> <td>13:30</td>  <td>Chapter 4 - Lists and Tuples</td> </tr>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Day 3 - Tuesday, May 20 - Python for Scientific Computing</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Chapter 4 - Lists and Tuples</td> </tr>
      <tr> <td>10:00</td>  <td>Chapter 5 - Dictionary and Sets</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Continue Chapter 5 - Dictionary and Sets</td> </tr>
      <tr> <td>12:00</td>  <td>Chapter 6 - Conditional Expressions</td> </tr>
      <tr> <td>13:00</td>  <td>Chapter 7 - Loops in Python</td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 4 - Tuesday, May 27 - Python for Scientific Computing</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Chapter 8 - Functions</td> </tr>
      <tr> <td>10:00</td>  <td>Chapter 9 - File I/O</td> </tr>
      <tr> <td>10:30</td>  <td>Coffee break</td> </tr>
      <tr> <td>11:00</td>  <td>Object Oriented Programming</td> </tr>
      <tr> <td>12:00</td>  <td>Plotting basics & Small case study (Accessing APIs)</td> </tr>
      <tr> <td>13:00</td>  <td>Final Q&A and Wrap-up</td> </tr>
      <tr> <td>13:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>

